

  <div class="col-md-2" style="display: inline-block; margin-left: 10px;">
    <app-category></app-category>
  </div>

  <div class="col-md-9" style="display: inline-block;">
    <div class="container mt-1 mb-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-10">
        <input type="search" id="form1" class="form-control" placeholder="Search..."
        aria-label="Search"
        [(ngModel)]="filterText"
         />
         <br />
        <div *ngFor="let game of games | gameFilter:filterText" class="row p-2 bg-white border rounded">
          <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" [src]="game.gameImg"></div>
          <div class="col-md-6 mt-1">
              <h3><strong>{{ game.gameName}}</strong></h3>
              <div class="d-flex flex-row">
                  <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span><strong>Genre:</strong> {{ game.genre}}</span>
              </div>
              <div class="mt-1 mb-1 spec-1"></div>
              <div class="mt-1 mb-1 spec-1"></div>
              <p class="text-justify para mb-0"><strong>Description:</strong> {{ game.description }}</p>
              <p class="text-justify para mb-0"><strong>Platform:</strong> {{ game.gamePlatform }}</p>
          </div>
          <div class="align-items-center align-content-center col-md-3 border-left mt-1">
              <div class="d-flex flex-row align-items-center">
                  <h4 class="mr-1">{{ game.price }}TL</h4>
              </div>
              
              <div class="d-flex flex-column mt-1"><button *ngIf="isSignedIn; else notSigned" class="btn btn-primary btn-sm" type="button" (click)="addCart(game)">Add To Cart</button>
                <ng-template #notSigned>
                  <a href="/signin" class="btn btn-primary btn-sm">Buy:  {{ game.price }}TL</a>
                  </ng-template>
                <a *ngIf="currentUser.isAdmin;" class="btn btn-warning btn-sm mt-2" href="/update/{{ game.id }}">Update</a>
                <button *ngIf="currentUser.isAdmin;" class="btn btn-danger btn-sm mt-2" type="button" (click)="removeGame(game)">Remove</button></div>
          </div>
          <br />
      </div>
  
      </div>
    </div>
  </div>
  </div>


  
